*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 16px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Modern Luxury Travel*/

h1 {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

/* Images and Text */

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: -17%;
  margin-left: 7%;
}

img {
  background-size: cover;
  position: relative;
  width: 100%;
  height: auto;
  margin: 7% auto;
  z-index: -1;
}

/* Min-width 575 Media Query*/

@media screen and (min-width: 575px) {

  .preview {
    float: left;
    width: 46%;
    margin: 2% 2%;
    background-size: cover;
  }

  .baku {
    background-image: url("../images/baku.jpg")
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 165px;
  }

  .london {
    background-image: url("../images/london.png")
    background-size: cover;
    background-position: center;
    height: 165px;
  }

  .madrid {
    background-image: url("../images/madrid.jpg")
    background-size: cover;
    background-position: center;
    /*min-height: 150px;*/*/
    max-height: 250px;
  }

  .rome {
    background-image: url("../images/rome.jpg")
    background-size:cover;
    background-position: center;
    /*min-height: 150px;*/
    max-height: 300px;
  }
}

@media screen and (min-width: 1199px) {

  .preview {
    float: left;
    width: 23%;
    margin: 1% 1%;
    background-size: cover;
    height: 175px;
  }

}
