*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 16px;
}

.container {
  /*background-color: #a5a5a5;*/
  width: 90%;
  margin: auto;
}

/* Modern Luxury Travel*/

h1 {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: -11%;
  margin-left: 7%;
}

div {
  /*margin: auto;*/
}

img {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  z-index: -1;
}


@media screen and (min-width: 575px) {

  div {
    display: inline-block;
    vertical-align: top;
    width: 45%;

  }

  img {
    overflow: hidden;
  }


  h2 {
    /*margin-bottom: -14%;*/
  }

}

@media screen and (min-width: 1199px) {

  div {
    width: 20%;
    margin: 3% 2.3% 0 2.3%;
  }

  img {
    width: 240px;
    height: 170px;
  }

  h2 {
    margin-bottom: -12%;
  }

}
